*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
   
}
/* Main */
.main{
    height: 100%;
    width: 100%;
    background-color:  #d5caf1;
}
/* Main */
/* Main-Part */
.main-1{
    height: 90%;
    width: 90%;
    background-color: #f5f4f2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;

}
/* Main-Part */

/* NAVBAR */
.nav{
    width: 100%;
    height: 50px;
   /* background-color: red;*/
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: space-between;
   padding: 0px 15px; 
}
.menu{
    border: 1px solid black;
    border-radius: 15px;
     padding: 2px 10px; 
     font-style: italic;
     transition: 1s;
   cursor: pointer;

}
.menu:hover{
    background-color: rgb(236, 97, 47);
}
.dentytech{
 font-style: italic;
 cursor: pointer;
}
.login{
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 15px;
    transition: 1s;
   cursor: pointer;

} 
.login:hover{
    background-color: rgb(236, 97, 47);
}
.signin{
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 15px;
    color: white;
    background-color: rgb(236, 97, 47);
   cursor: pointer;

} 
/* NAVBAR */


.heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    width: 100%;
    text-align: center;
    font-style: italic;
  

}
img{
    height: 350px;
    width: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   cursor: pointer;

}
.img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
.img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
.img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}
/* .img4{
    transform: translate(-50%,-50%) rotate(-10deg);
} */

/* FOOOTER */

.leftfooter{
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 12px;
  color: orangered;
  font-style: italic;
  cursor: pointer;

}
.icons{
    position: absolute;
    bottom: 5%;
    right: 3%;
    display: flex;
    gap: 20px;
    font-size: 25px;
   cursor: pointer;

}

/* Footer */